@tailwind base;
@tailwind components;
@tailwind utilities;


/* Light */
@font-face {
  font-family: Poppins;
  src: url('/fonts/Poppins-Light.ttf');
  font-weight: 300
}

/* Regular */
@font-face {
  font-family: Poppins;
  src: url('/fonts/Poppins-Regular.ttf');
  font-weight: 400
}

/* Medium */
@font-face {
  font-family: Poppins;
  src: url('/fonts/Poppins-Medium.ttf');
  font-weight: 500
}

/* SemiBold */
@font-face {
  font-family: Poppins;
  src: url('/fonts/Poppins-SemiBold.ttf');
  font-weight: 600;
}

/* Bold */
@font-face {
  font-family: Poppins;
  src: url('/fonts/Poppins-Bold.ttf');
  font-weight: 700
}

/* Extra Bold */
@font-face {
  font-family: Poppins;
  src: url('/fonts/Poppins-ExtraBold.ttf');
  font-weight: 800
}

body {
  font-family: Poppins;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}