@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light */
@font-face {
  font-family: poppins-light;
  src: url("/fonts/Poppins/Poppins-Light.ttf");
  font-weight: 300;
}

/* Regular */
@font-face {
  font-family: poppins-regular;
  src: url("/fonts/Poppins/Poppins-Regular.ttf");
  font-weight: 400;
}

/* Medium */
@font-face {
  font-family: poppins-medium;
  src: url("/fonts/Poppins/Poppins-Medium.ttf");
  font-weight: 500;
}

/* SemiBold */
@font-face {
  font-family: poppins-semibold;
  src: url("/fonts/Poppins/Poppins-SemiBold.ttf");
  font-weight: 600;
}

/* Bold */
@font-face {
  font-family: poppins-bold;
  src: url("/fonts/Poppins/Poppins-Bold.ttf");
  font-weight: 700;
}

/* Extra Bold */
@font-face {
  font-family: poppins-extrabold;
  src: url("/fonts/OpenSans/OpenSans-ExtraBold.ttf");
  font-weight: 800;
}

/* Lato */


/* Light */
@font-face {
  font-family: lato-light;
  src: url("/fonts/Lato/Lato-Light.ttf");
  font-weight: 300;
}

/* Regular */
@font-face {
  font-family: lato-regular;
  src: url("/fonts/Lato/Lato-Regular.ttf");
  font-weight: 400;
}

/* Medium */
@font-face {
  font-family: lato-medium;
  src: url("/fonts/Lato/Lato-Medium.ttf");
  font-weight: 500;
}

/* SemiBold */
@font-face {
  font-family: lato-semibold;
  src: url("/fonts/Lato/Lato-SemiBold.ttf");
  font-weight: 600;
}

/* Bold */
@font-face {
  font-family: lato-bold;
  src: url("/fonts/Lato/Lato-Bold.ttf");
  font-weight: 700;
}

/* Extra Bold */
@font-face {
  font-family: lato-extrabold;
  src: url("/fonts/Lato/Lato-ExtraBold.ttf");
  font-weight: 800;
}


/* Inter */

/* Light */
@font-face {
  font-family: inter-light;
  src: url("/fonts/Inter/Inter-Light.ttf");
  font-weight: 300;
}

/* Regular */
@font-face {
  font-family: inter-regular;
  src: url("/fonts/Inter/Inter-Regular.ttf");
  font-weight: 400;
}

/* Medium */
@font-face {
  font-family: inter-medium;
  src: url("/fonts/Inter/Inter-Medium.ttf");
  font-weight: 500;
}

/* SemiBold */
@font-face {
  font-family: inter-semibold;
  src: url("/fonts/Inter/Inter-SemiBold.ttf");
  font-weight: 600;
}

/* Bold */
@font-face {
  font-family: inter-bold;
  src: url("/fonts/Inter/Inter-Bold.ttf");
  font-weight: 700;
}




@layer base {
  :root {
    --background: 160 100% 99%;
    /*white*/
    --foreground: 0 1 21;
    /*black*/
    --card: 0 0% 100%;
    /*white*/
    --card-foreground: 240 10% 3.9%;
    /*black*/
    --popover: 0 0% 100%;
    /*white*/
    --popover-foreground: 240 10% 3.9%;
    /*black*/
    --primary: 142 71 45;
    /*green*/
    --primary-foreground: 355.7 100% 97.3%;
    /*black*/
    --secondary: 111 100% 96%;
    /*light-green*/
    --secondary-foreground: 240 5.9% 10%;
    /*black*/
    --muted: 240 4.8% 95.9%;
    /*gray*/
    --muted-foreground: 240 3.8% 46.1%;
    /*dark-gray*/
    --accent: 240 4.8% 95.9%;
    /*gray*/
    --accent-foreground: 240 5.9% 10%;
    /*black*/
    --destructive: 0 84.2% 60.2%;
    /*red*/
    --destructive-foreground: 0 0% 98%;
    /*white*/
    --border: 222.86 14.89% 90.78%;
    /*gray*/
    --input: 240 5.9% 90%;
    /*gray*/
    --ring: 104 49% 78%;
    /*dark-green*/
    --radius: 0.5rem;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    /**/
    --foreground: 0 0% 95%;
    /**/
    --card: 24 9.8% 10%;
    /**/
    --card-foreground: 0 0% 95%;
    /**/
    --popover: 0 0% 9%;
    /**/
    --popover-foreground: 0 0% 95%;
    /**/
    --primary: 142.1 70.6% 45.3%;
    /**/
    --primary-foreground: 144.9 80.4% 10%;
    /**/
    --secondary: 240 3.7% 15.9%;
    /**/
    --secondary-foreground: 0 0% 98%;
    /**/
    --muted: 0 0% 15%;
    /**/
    --muted-foreground: 240 5% 64.9%;
    /**/
    --accent: 12 6.5% 15.1%;
    /**/
    --accent-foreground: 0 0% 98%;
    /**/
    --destructive: 0 62.8% 30.6%;
    /**/
    --destructive-foreground: 0 85.7% 97.3%;
    /**/
    --border: 240 3.7% 15.9%;
    /**/
    --input: 240 3.7% 15.9%;
    /**/
    --ring: 142.4 71.8% 29.2%;

  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground text-base font-poppins-regular;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1 {
    @apply text-3xl;
  }

  h2 {
    @apply text-2xl;
  }

  h3 {
    @apply text-xl;
  }

  h4 {
    @apply text-lg;
  }

  h5 {
    @apply text-md;
  }

  h6 {
    @apply text-base;
  }
}

.custom-scroll::-webkit-scrollbar {
  width: 5px;
}

.custom-scroll::-webkit-scrollbar {
  width: 5px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #d8d8d8;
  border-radius: 10px;
  border-radius: 10px;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: #adadad;
}

.accepted-answer {
  position: relative;
  background: linear-gradient(0deg, #e25454, #d42f2f);
}

.accepted-answer:before,
.accepted-answer:after {
  border-radius: 3%;
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  /* background: linear-gradient(45deg, #e91414, #f82626, #c42424, #ff0000, #df1b1b, #dd3434,
      #ff0000, #c51919, #c92323, #ff0000); */
  background: linear-gradient(45deg,
      #ff0000,
      #ff00005d,
      #ff0000,
      #ff00005d,
      #ff0000,
      #ff00005d,
      #ff0000,
      #ff00005d,
      #ff0000,
      #ff00005d);
  background-size: 400%;
  width: calc(100% + 0px);
  height: calc(100% + 2px);
  z-index: -1;
  animation: steam 40s linear infinite;
}

@keyframes steam {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

.accepted-answer:after {
  filter: blur(40px);
}

/* FOR RICH TEXT EDITOR TITE*/

.ProseMirror {
  outline: none;
  padding: 0.5rem;
  height: 100% !important;
}

.tiptap {
  >*+* {
    margin-top: 0.75em;
  }

  img {
    height: auto;
    max-width: 100%;

    &.ProseMirror-selectednode {
      outline: 3px solid #1b75d0;
    }
  }
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

pre,
code {
  display: flex;
  flex-wrap: wrap;
  word-break: break-all;
}

@layer utilities {
  @variants responsive {

    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none;
      /* IE and Edge */
      scrollbar-width: none;
      /* Firefox */
    }
  }
}

.bg-main {
  background-image: url("./assets/images/background.svg");
  object-fit: cover;
  object-position: center;
}