@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light */
@font-face {
  font-family: poppins-thin;
  src: url("/fonts/Poppins/Poppins-Light.ttf");
  font-weight: 300;
}

/* Regular */
@font-face {
  font-family: poppins-regular;
  src: url("/fonts/Poppins/Poppins-Regular.ttf");
  font-weight: 400;
}

/* Medium */
@font-face {
  font-family: poppins-medium;
  src: url("/fonts/Poppins/Poppins-Medium.ttf");
  font-weight: 500;
}

/* SemiBold */
@font-face {
  font-family: poppins-semibold;
  src: url("/fonts/Poppins/Poppins-SemiBold.ttf");
  font-weight: 600;
}

/* Bold */
@font-face {
  font-family: poppins-bold;
  src: url("/fonts/Poppins/Poppins-Bold.ttf");
  font-weight: 700;
}

/* Bold */
@font-face {
  font-family: poppins-extra;
  src: url("/fonts/Poppins/Poppins-ExtraBold.ttf");
  font-weight: 700;
}

/* Light */
@font-face {
  font-family: inter-light;
  src: url("/fonts/Inter/Inter-Light.ttf");
  font-weight: 300;
}

/* Regular */
@font-face {
  font-family: inter-regular;
  src: url("/fonts/Inter/Inter-Regular.ttf");
  font-weight: 400;
}

/* Medium */
@font-face {
  font-family: inter-medium;
  src: url("/fonts/Inter/Inter-Medium.ttf");
  font-weight: 500;
}

/* SemiBold */
@font-face {
  font-family: inter-semibold;
  src: url("/fonts/Inter/Inter-SemiBold.ttf");
  font-weight: 600;
}

/* Bold */
@font-face {
  font-family: inter-bold;
  src: url("/fonts/Inter/Inter-Bold.ttf");
  font-weight: 700;
}

@layer base {
  :root {
    --background: 160 100% 99%;
    /*white*/
    --foreground: 0 1 21;
    /*black*/
    --card: 0 0% 100%;
    /*white*/
    --card-foreground: 240 10% 3.9%;
    /*black*/
    --popover: 0 0% 100%;
    /*white*/
    --popover-foreground: 240 10% 3.9%;
    /*black*/
    --primary: 142 71 45;
    /*green*/
    --primary-foreground: 355.7 100% 97.3%;
    /*black*/
    --secondary: 111 100% 96%;
    /*light-green*/
    --secondary-foreground: 240 5.9% 10%;
    /*black*/
    --muted: 240 4.8% 95.9%;
    /*gray*/
    --muted-foreground: 240 3.8% 46.1%;
    /*dark-gray*/
    --accent: 240 4.8% 95.9%;
    /*gray*/
    --accent-foreground: 240 5.9% 10%;
    /*black*/
    --destructive: 0 84.2% 60.2%;
    /*red*/
    --destructive-foreground: 0 0% 98%;
    /*white*/
    --border: 222.86 14.89% 90.78%;
    /*gray*/
    --input: 240 5.9% 90%;
    /*gray*/
    --ring: 142 71 45;
    /*dark-green*/
    --radius: 0.5rem;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    /**/
    --foreground: 0 0% 95%;
    /**/
    --card: 24 9.8% 10%;
    /**/
    --card-foreground: 0 0% 95%;
    /**/
    --popover: 0 0% 9%;
    /**/
    --popover-foreground: 0 0% 95%;
    /**/
    --primary: 142 71 45;
    /**/
    --primary-foreground: 144.9 80.4% 10%;
    /**/
    --secondary: 240 3.7% 15.9%;
    /**/
    --secondary-foreground: 0 0% 98%;
    /**/
    --muted: 0 0% 15%;
    /**/
    --muted-foreground: 240 5% 64.9%;
    /**/
    --accent: 12 6.5% 15.1%;
    /**/
    --accent-foreground: 0 0% 98%;
    /**/
    --destructive: 0 62.8% 30.6%;
    /**/
    --destructive-foreground: 0 85.7% 97.3%;
    /**/
    --border: 240 3.7% 15.9%;
    /**/
    --input: 240 3.7% 15.9%;
    /**/
    --ring: 142 71 45;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground text-base font-poppins-regular;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1 {
    @apply text-3xl;
  }

  h2 {
    @apply text-2xl;
  }

  h3 {
    @apply text-xl;
  }

  h4 {
    @apply text-lg;
  }

  h5 {
    @apply text-md;
  }

  h6 {
    @apply text-base;
  }
}

.custom-scroll::-webkit-scrollbar {
  width: 5px;
}

.custom-scroll::-webkit-scrollbar {
  width: 5px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #d8d8d8;
  border-radius: 10px;
  border-radius: 10px;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: #adadad;
}

/* FOR RICH TEXT EDITOR TITE*/

.ProseMirror {
  outline: none;
  padding: 0.5rem;
  height: 100% !important;
}

.tiptap {
  >*+* {
    margin-top: 0.75em;
  }

  img {
    height: auto;
    max-width: 100%;

    &.ProseMirror-selectednode {
      outline: 3px solid #1b75d0;
    }
  }
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

pre,
code {
  display: flex;
  flex-wrap: wrap;
  word-break: break-all;
}

@layer utilities {

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}

.bg-main {
  background-image: url("./assets/images/background.svg");
  object-fit: cover;
  object-position: center;
}