@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light */
@font-face {
  font-family: Inter;
  src: url("/fonts/Inter-Light.ttf");
  font-weight: 300;
}

/* Regular */
@font-face {
  font-family: Inter;
  src: url("/fonts/Inter-Regular.ttf");
  font-weight: 400;
}

/* Medium */
@font-face {
  font-family: Inter;
  src: url("/fonts/Inter-Medium.ttf");
  font-weight: 500;
}

/* SemiBold */
@font-face {
  font-family: Inter;
  src: url("/fonts/Inter-SemiBold.ttf");
  font-weight: 600;
}

/* Bold */
@font-face {
  font-family: Inter;
  src: url("/fonts/Inter-Bold.ttf");
  font-weight: 700;
}

/* Extra Bold */
@font-face {
  font-family: Inter;
  src: url("/fonts/Inter-ExtraBold.ttf");
  font-weight: 800;
}

@layer base {
  :root {
    --background: 0 0% 100%; /*white*/
    --foreground: 240 10% 3.9%; /*black*/
    --card: 0 0% 100%; /*white*/
    --card-foreground: 240 10% 3.9%; /*black*/
    --popover: 0 0% 100%; /*white*/
    --popover-foreground: 240 10% 3.9%; /*black*/
    --primary: 101 40% 60%; /*green*/
    --primary-foreground: 355.7 100% 97.3%; /*black*/
    --secondary: 111 100% 96%; /*light-green*/
    --secondary-foreground: 240 5.9% 10%; /*black*/
    --muted: 240 4.8% 95.9%; /*gray*/
    --muted-foreground: 240 3.8% 46.1%; /*dark-gray*/
    --accent: 240 4.8% 95.9%; /*gray*/
    --accent-foreground: 240 5.9% 10%; /*black*/
    --destructive: 0 84.2% 60.2%; /*red*/
    --destructive-foreground: 0 0% 98%; /*white*/
    --border: 240 5.9% 90%; /*gray*/
    --input: 240 5.9% 90%; /*gray*/
    --ring: 104 49% 78%; /*dark-green*/
    --radius: 0.5rem; /**/
  }

  .dark {
    --background: 20 14.3% 4.1%; /**/
    --foreground: 0 0% 95%; /**/
    --card: 24 9.8% 10%; /**/
    --card-foreground: 0 0% 95%; /**/
    --popover: 0 0% 9%; /**/
    --popover-foreground: 0 0% 95%; /**/
    --primary: 142.1 70.6% 45.3%; /**/
    --primary-foreground: 144.9 80.4% 10%; /**/
    --secondary: 240 3.7% 15.9%; /**/
    --secondary-foreground: 0 0% 98%; /**/
    --muted: 0 0% 15%; /**/
    --muted-foreground: 240 5% 64.9%; /**/
    --accent: 12 6.5% 15.1%; /**/
    --accent-foreground: 0 0% 98%; /**/
    --destructive: 0 62.8% 30.6%; /**/
    --destructive-foreground: 0 85.7% 97.3%; /**/
    --border: 240 3.7% 15.9%; /**/
    --input: 240 3.7% 15.9%; /**/
    --ring: 142.4 71.8% 29.2%; /**/
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    @apply text-base;
    font-family: Inter;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1 {
    @apply text-3xl;
  }

  h2 {
    @apply text-2xl;
  }

  h3 {
    @apply text-xl;
  }

  h4 {
    @apply text-lg;
  }

  h5 {
    @apply text-md;
  }

  h6 {
    @apply text-base;
  }
}

.ProseMirror {
  outline: none;
}

ul {
  list-style: disc;
  padding-left: 1.5rem;
}
ol {
  list-style: decimal;
  padding-left: 1.5rem;
}

::-webkit-scrollbar {
  width: 5px; /* width of the entire scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: #eeeeee; /* color of the scroll thumb */
  border-radius: 10px; /* roundness of the scroll thumb */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
